# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
# .env
.venv/
env/
venv/
ENV/
*.env

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/

# Django migrations
**/migrations/
!**/migrations/__init__.py

# VS Code
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Test coverage reports
htmlcov/
.coverage
.tox/
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log

# MyPy
.mypy_cache/
.dmypy.json

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Gunicorn
gunicorn.pid

# Celery
celerybeat-schedule
celerybeat.pid

# Docker
*.pid
*.tar
*.lock
docker-compose.override.yml

# Local settings
local_settings.py

# Node
node_modules/

# dotenv
# .env.*
